body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.header{
    align-self: stretch;
    text-align: center;
    background-color: black;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; 
    align-content: space-between;
    max-width: 600px;
    height: 100%;
    margin: 20px;
    padding: 15px;
    border: solid black 1px;
    border-radius: 20px;

}

.main-top{
    /* display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #008CBA;
    height: 100px;
}

.score-label, .max-score-label{
    text-align: end;

}

.score-label{
    order: 0;
    padding:5px;
    
}
.score{
    order: 2;
    padding:5px;
    border: black solid 1px;
}
.max-score-label{
    order: 1;
    padding:5px;
    
}

.max-score{
    order: 3;
    padding:5px;
    border: black solid 1px;
}

.reset{
    align-self: flex-end;
    order: 4;
    padding:5px;
}

button {
    font-size: 16px;
    font-weight: strong;
    padding: 5px;
    border-radius: 15px;
    
}


.board {
    display: grid;
    width: 500px;
    height: 400px;
    /* min-width: 400px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    margin: 15px;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 60px;
}

.controls {
    display: grid;
    height: 200px;
    width: 200px;
    grid-template-columns: repeat(3, 1fr);/*repeat(4, 1fr)*/;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px
}
.up {
    grid-area: 1/2/2/3;
}
.left {
    grid-area: 2/1/3/2;
}
.down {
    grid-area: 2/2/3/3;
}
.right {
    grid-area: 2/3/3/4;
}








.container{
    box-sizing: border-box;
    max-width: 600px;
    position: relative;
    width:100%;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  /* .container:hover .overlay {
    width: 100%;
  } */
  
  .game-over-msg, .restart-div {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .restart-div {
    top: 55%;}