body {
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    min-height: 667px;
    background-color: rgb(69, 67, 67);
}
    .header{
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        height: 15%;
        font-size: 1.5em;
    }
    .container{
        box-sizing: border-box;
        position: relative;
        height: 80%;
        width: 50vw;
        min-width: 360px;
        max-width: 456px;
    }
        main {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 5px;
            /* padding: 15px; */
            border: solid black 1px;
            border-radius: 20px;
            padding-top: 0;
            background-color: white;
            
        }
            .score-board{ /* or main-top: contains the score live reports,  new-game/reset button*/
                position: relative;
                align-self: stretch;
                display: grid;
                grid-template-columns: 0.5fr repeat(3,1fr) 0.5 repeat(6,1fr) 0.5fr;
                grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
                background-color: #008CBA;
                max-height: 15%;
                width: 100%;
                
            }
                .score-label{
                    grid-area: 2/2/3/5;
                    text-align: end;
                }
                .score{
                    grid-area: 2/6/3/9;
                    width: 100%;
                    height:100%;
                    border: solid black 1px;
                    /* text-align: right; */
                }
                .max-score-label{
                    grid-area: 4/2/5/5;
                    text-align: end;
                }
                .max-score{
                    grid-area: 4/6/5/9;
                    width: 100%;
                    height:100%;
                    border: solid black 1px;
                }
                .reset{
                    grid-area: 4/10/4/12;
                }
            .board {
                position: relative;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 10px;
                height: 40%;
                width: 95%;
                padding-left: 15px;
                padding-right: 15px;
            }
                .board-cell{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2em;
                    font-weight: bold;
                }
            .controls {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap:5px;
                width:50%;
                height: 20%

            }
                .up{grid-area:1/2/2/3}
                .left{grid-area:2/1/3/2}
                .down{grid-area:2/2/3/3}
                .right{grid-area:2/3/3/4}
                .arrow-btns:hover {
                    background-image: linear-gradient(#B384C9, #391F5B 50%);
                } 
                .arrow-btns:active {
                    box-shadow: #3c4fe0 0 3px 7px inset;
                    transform: translateY(2px);
                }
                .arrow-btns {
                    background-color: rgb(16, 15, 15);
                    color: white;
                    font-size: 30px;
                    width: 100%;
                }
        .overlay{
            position: absolute;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            bottom: -20px; 
            /* left: 0;
            right: 0; */
            background-color: none;
            overflow: hidden;
            width: 0;
            height: 100%;
            transition: 1s ease;
            margin-left: 5px;
            border-radius: 20px;
        }
            .game-over-screen{
                grid-area: 2/1/3/2;
                color: white;
                transform: translate(0%, -15%);
                margin-left: 15px;
                margin-right: 25px;
                background-color: rgba(186, 56, 0, 0.5);
            }
                .game-over-msg, .restart-div, .winnerMsg {
                    color: white;
                    font-size: 20px;
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                    font-size: 25px;
                }
            .restart-div{
                top: 75%;
            }
                .restart{
                    border: solid rgb(0, 170, 255) 2px;
                    font-size: ;
                }
                .winnerMsg {
                    top: 50%;
                    font-size: 5rem;
                }









